<h1>Category Show: <%= @category.title %></h1>

<ul>
<% @category.links.each do |link| %>
    <li><%= link_to link.title, link_path(link) %>
    <% if current_user && current_user.owns_link?(link) %>
        (<%= link_to 'Edit', edit_link_path(link) %> or 
        <%= link_to 'Delete', link_path(link), method: :delete %>)
    <% end %>
    </li>
<% end %>

</ul>